<style>
    body{
        height: auto;
    }
</style>
<div ng-controller="addAccountCtrl" ng-cloak ng-init="init()">
    <!-- *** HEADER *** -->
    <div header></div>
    <div id="mainDiv" class="container mainContainer">

        <div class="headingTitle">
            Account
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="addApplication" class="well wellClass">
                    <div class="titleHeading">Add Account</div>
                    <form name="myForm1">
                    <div class="containerBody">
                        <div class="padding-bottom15">
                            <input type="text" ng-model="accountName" placeholder="Enter Account Name" size="50" name="accountName"
                                   class="form-control textBox" ng-minlength="5" ng-maxlength="20" ng-pattern="/[A-z0-9]$/" ng-focus="resetValues()" required/>
                             <span style="color:red;" ng-if="
                           myForm1.accountName.$error.pattern || myForm1.accountName.$error.minlength || myForm1.accountName.$error.maxlength">Use Appropriate Account Name</span>
                            <span style="color: red;" ng-if="accountExist==true">Account Already Exist</span>

                        </div>
                        <div class="text-right">
                            <button ng-click="addAccount()" class="addBtn btn" ng-disabled="myForm1.$invalid">Add</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div id="applicationList" class="well wellClass">
                    <div class="titleHeading">Account List</div>
                    <div class="containerBody">
                        <div class="searchBox">
                            <div class="inner-addon right-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" class="form-control textBox" ng-model="searchAccount" placeholder="Search Account">
                            </div>
                        </div>

                        <!--<div class="input-group searchBoxContainer">
                           <input type="text" class="form-control textBox" ng-model="searchApplication" placeholder="Search Application">
                           <span class="searchFont">
                              <span class="glyphicon glyphicon-search searchIcon"></span>
                           </span>

                        </div>-->
                        <div>
                            <table class="table table-bordered " cellspacing="0">
                                <tr class="blue-bg">
                                    <th class="white bold text-center">
                                        Account Name
                                    </th>
                                    <th class="white bold text-align-center">
                                        Edit
                                    </th>
                                    <th class="white bold text-align-center">
                                        Deactivate
                                    </th>
                                </tr>
                                <tr dir-paginate="account in accountList  | filter : searchAccount | itemsPerPage:5" pagination-id="Account">
                                    <td class="text-center">
                                        <span>{{account.account}}</span>
                                    </td>
                                    <td class="text-align-center">
                              <span>
                                 <a class="a-toggle bold" data-toggle="modal"
                                    ng-click="openAccountModel(account)"  uib-tooltip="Click to Edit" tooltip-placement="right">
                                     <span class="glyphicon glyphicon-pencil" ng-class="{'deactivateRed' : account.active==false}"></span>
                                 </a>
                              </span>
                                    </td>
                                    <td class="text-align-center">
                                        <a class="a-toggle bold" ng-click="editAccountStatus(account)"  uib-tooltip="Click to Deactivate" tooltip-placement="right"><span class="glyphicon glyphicon-ban-circle" ng-class="{'deactivateRed' : account.active==false}"></span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="Account"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- *** EDIT Modal Popup *** -->
        <div class="modal fade" id="editAccount"  tabindex="-1"  role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form name="myForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <span class="modal-title headingModalTitle">Edit Account</span>
                    </div>
                    <div class="modal-body">
                        <div class="form-group ">
                            <div class="editModalFields">Account</div>
                            <input ng-model="editAccountModel" class="form-control width-100per" ng-pattern="/[A-z]$/" name="editAccountModel"
                                   ng-minlength="5" ng-maxlength="20" ng-blur="accountAlreadyExistFunc(editAccountModel)" ng-focus="resetValues()"required>
                            <span ng-if="myForm.editAccountModel.$error.required && myForm.editAccountModel.$dirty ">Required</span>
                            <span style="color:red;" ng-if="myForm.editAccountModel.$error.pattern">Alphabets Only</span>
                            <span style="color:red;" ng-if="myForm.editAccountModel.$error.minlength || myForm.editAccountModel.$error.maxlength">
                                Minimum length should be 5 &amp; Maximum should be 20</span>
                            <span style="color: red;" ng-if="accountAlreadyExist==true">Account With This Name Already Exist.</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button ng-click="updateAccount(editAccountModel)" class="addBtnModal btn" data-dismiss="modal"
                                        ng-disabled="myForm.$invalid">
                                    Save
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="addBtnModal" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!------- ng-click="editApplicationDialog.open(application)"------------<edit-application-dialog model="editApplicationDialog"></edit-application-dialog>-->
        <!-- *** Delete Modal Popup *** -->
        <div ng-include="'./views/deleteModalPopup.html'"></div>
    </div>
    <!-- *** FOOTER *** -->
    <div footer></div>
</div>
