<style>
    body{
        height: auto;
    }
</style>
<div ng-controller="submittedQuestionnaire" ng-cloak ng-init="init()" class="marginBtm2per">
<div header></div>
<div id="mainDiv" class="container mainContainer">

    <div class="headingTitle">
        Feedback - Assessment Questionnaire
    </div>
    
<!--
 <button ng-json-export-excel data="dataList" report-fields="{id: 'ID Heder', name: 'Name Header', price: 'Price Head'}" filename="'filename'" class="btn-sm btn-primary">Export Excel</button>
    <pre style="margin-top: 10px">
    <div ng-json-export-excel data="dataList" report-fields="{id: 'ID Heder', name: 'Name Header', price: 'Price Head'}" filename="filename"></div>
    </pre>
-->
    <hr>


    <div id="assessmentQuestn" class="well wellClass" ng-show="selectApplicationView">
        <div class="titleHeading">Select Application</div>
        <form name="myForm1">
        <div class="containerBody">
            <div class="padding-bottom15">
                <span class="popoverTool" ng-click="searchApplicationPopup()">
                    <a href="" data-toggle="popover" data-trigger="hover" data-content="Click to Search and Select Application">
                        <label>
                            <span class="disabledBox">
                                <input type="text" ng-model="selectedApplication" placeholder="Search Application" size="50"
                                           class="form-control textBox inputWidth" disabled required>
                                <span class="input-group-btn searchFont">
                                    <span class=" glyphicon glyphicon-search searchIconProfile"></span>
                                </span>
                            </span>
                        </label>
                    </a>
                </span>
            </div>
            <div>
                <button ng-click="startAssessment(currentApp,1)" class="addBtnAssess btn btn1" ng-disabled="myForm1.$invalid">Start Assessment</button>
            </div>
            <!--<div class="form-group">
                <label for="myFileField">Select a file: </label>
                <input type="file" demo-file-model="myFile"  class="form-control" id ="myFileField"/>
            </div>
            <but
            ton ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>-->
        </div>
        </form>
    </div>
	<div ng-hide="selectApplicationView">
  		<div ng-if="saveSuccessful"  class="text-left formField">
     		 <span color="red"><b> Feedback Saved Successfully.</b></span>
    	</div> <div>&nbsp;</div>
	</div>
    
     <ul id="progressBar" class="bs-wizard" ng-hide="selectApplicationView">
            <li   ng-repeat="step in steps" id={{$index}} class="bs-wizard-step" ng-class="{disabled :$index , active: $index==getCurrentStepIndex()}">
                <div class="progress">
                    <div class="progress-bar">
                    </div>
                </div>
                <a class="bs-wizard-dot"></a>
                <p class="text-center">{{step}}</p>
            </li>
        </ul>

    
     <div ng-hide="selectApplicationView">
        
         <div class="padding-left10" ng-repeat="step in steps" >
            <div  ng-if="selection == step ">

               <!-- <div>
                    <button type="button" class="btn btn-success" ng-click="uploadData()">Upload Data</button>
                    <br />
                    <br />
                    <div id="grid1" ui-grid="gridOptions" class="grid">
                        <div class="grid-msg-overlay" ng-show="!gridOptions.data.length">
                            <div class="msg">
                                <div class="center">
                                    <span class="muted">Select Spreadsheet File</span>
                                    <br />
                                    <input type="file" accept=".xls,.xlsx,.ods" fileread="" opts="gridOptions" multiple="false" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--<div class="form-group">
                        <label for="myFileField">Select a file: </label>
                        <input type="file" demo-file-model="myFile"  class="form-control" id ="myFileField"/>
                    </div>
                    <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>-->


                <div class="form-group row formAlign">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row formRow">
                        <span class="formField col-lg-6 col-sm-6 col-xs-6">Application Name:</span>
                        <span class="bold font-size18 col-lg-6 col-sm-6 col-xs-6">
                            {{selectedApplication}}
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                        <span class="formField col-lg-6 col-sm-6 col-xs-6">Assessment Area:</span>
                        <span class="bold font-size18 col-lg-6 col-sm-6 col-xs-6">
                            {{step}}
                        </span>
                    </div>
                </div>

                <div class="form-group row formAlign">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row formRow">
                        <span class="formFieldFilter col-lg-6 col-sm-6 col-xs-6">Filter By Category:</span>
                        <span class="col-lg-6 col-sm-6 col-xs-6">
                            <input type="text" class="form-control textBox"  ng-model="searchCategory"  placeholder="Category">
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                        <span class="formFieldFilter col-lg-6 col-sm-6 col-xs-6">Filter By Sub-Category:</span>
                        <span class="col-lg-6 col-sm-6 col-xs-6">
                            <input type="text" class="form-control textBox"  ng-model="searchSubCategory"  placeholder="Sub-Category">
                        </span>
                    </div>
                 </div>
                <table class="table tblClass table-bordered" cellspacing="0">
                    <tr class="blue-bg" >
                        <th style="width: 15%;" class="white bold text-center">
                             <a href="" ng-click="sortType = 'assessmentArea'; sortReverse = !sortReverse" class="white">
                                 Assessment Area
                                 <span ng-show="sortType == 'assessmentArea' && !sortReverse" class="fa fa-caret-down white"></span>
                                 <span ng-show="sortType == 'assessmentArea' && sortReverse" class="fa fa-caret-up white"></span>
                             </a>
                        </th>
                        <th style="width: 15%;" class="white bold text-center">
                            <a href="" ng-click="sortType = 'category'; sortReverse = !sortReverse" class="white">
                                 Category
                                 <span ng-show="sortType == 'category' && !sortReverse" class="fa fa-caret-down white"></span>
                                 <span ng-show="sortType == 'category' && sortReverse" class="fa fa-caret-up white"></span>
                             </a>
                        </th>
                        <th style="width: 10%;" class="white bold text-center">
                            <a href="" ng-click="sortType = 'subCategory'; sortReverse = !sortReverse" class="white">
                                 Sub Category
                                 <span ng-show="sortType == 'subCategory' && !sortReverse" class="fa fa-caret-down white"></span>
                                 <span ng-show="sortType == 'subCategory' && sortReverse" class="fa fa-caret-up white"></span>
                             </a>
                        </th>
                        <th style="width: 15%;" class="white bold text-center">
                            <a href="" ng-click="sortType = 'assessmentCriteria'; sortReverse = !sortReverse" class="white">
                                  Assessment Criteria
                                 <span ng-show="sortType == 'assessmentCriteria' && !sortReverse" class="fa fa-caret-down white"></span>
                                 <span ng-show="sortType == 'assessmentCriteria' && sortReverse" class="fa fa-caret-up white"></span>
                             </a>
                        </th>
                        <th style="width: 16%;" class="white bold text-center">
                                 Guidelines/Indicative Values
                        </th>
                         <th style="width: 14%;" class="white bold text-center">
                            Score - User
                        </th>
                        <th style="width: 17%;" class="white bold text-center">
                            Score - Admin
                        </th>
                          
                       <th style="width: 10%;" class="white bold text-center">
                            Comments
                        </th>
                    </tr>
                    
                    <tr dir-paginate="assessment in assessmentQuestionnaireList | filter: {assessmentArea: step, category:searchCategory,
                    subCategory:searchSubCategory} | orderBy:sortType:sortReverse |itemsPerPage:5" current-page="currentPage">
                            <td>
                                <span>{{assessment.assessmentArea}}</span>
                            </td>
                            <td>
                                <span>{{assessment.category}}</span>
                            </td>
                            <td>
                                <span>{{assessment.subCategory}}</span>
                            </td>
                            <td>
                                <span>{{assessment.assessmentCriteria}}</span>
                            </td>
                            <td>
                            <span ng-repeat = "guideline in assessment.GuidelineArray" ng-if="guideline.length> 4">
                                {{guideline}}<br/>
                            </span>
                            </td>
                           <!-- <td>
                                <input-stars max="5" ng-model='modeltest[assessment.Rating]' ng-click="rateMe(starRating,assessment)"></input-stars>
                            </td>-->

							    <td class="">
                                    <span  ng-if="assessment.GuidelineArray[0].length> 4">
                            	    <input-stars max="1" ng-if="assessment.scoreUser == 1" ng-model="assessment.scoreUser" ></input-stars>
                                <input-stars max="1" ng-if="assessment.scoreUser != 1" ng-model="noneSelect"></input-stars>
                                </br></span>
                                  <span  ng-if="assessment.GuidelineArray[1].length> 4">
                                  <input-stars max="2" ng-if="assessment.scoreUser == 2" ng-model="assessment.scoreUser" ></input-stars>
                                <input-stars max="2" ng-if="assessment.scoreUser != 2" ng-model="noneSelect"></input-stars>
                                </br></span>
                                     <span  ng-if="assessment.GuidelineArray[2].length> 4">
                                     <input-stars max="3" ng-if="assessment.scoreUser == 3" ng-model="assessment.scoreUser" ></input-stars>
                                <input-stars max="3" ng-if="assessment.scoreUser != 3" ng-model="noneSelect"></input-stars>
                                </br></span>
                                     <span  ng-if="assessment.GuidelineArray[3].length> 4">
                                     <input-stars max="4" ng-if="assessment.scoreUser == 4" ng-model="assessment.scoreUser" ></input-stars>
                                <input-stars max="4" ng-if="assessment.scoreUser != 4" ng-model="noneSelect"></input-stars>
                                </br></span>
                                    <span  ng-if="assessment.GuidelineArray[4].length> 4">
                                    <input-stars max="5" ng-if="assessment.scoreUser == 5" ng-model="assessment.scoreUser" ></input-stars>
                                <input-stars max="5" ng-if="assessment.scoreUser != 5" ng-model="noneSelect"></input-stars>
                                </br></span>
                              </td>
                               
                            <td class="">
                                   <span  ng-if="assessment.GuidelineArray[0].length> 4">
                            	  <input type="radio"  name="{{assessment.assessmentCriteria}}" ng-model="assessment.scoreAdmin" value="1" ng-click="rateMe2(assessment,1)">&nbsp;
                                <input-stars max="1" ng-if="assessment.scoreAdmin == 1" ng-model="assessment.scoreAdmin" ></input-stars>
                                <input-stars max="1" ng-if="assessment.scoreAdmin != 1" ng-model="noneSelect"></input-stars>
                                </br></span>
                                <span  ng-if="assessment.GuidelineArray[1].length> 4">
                                <input type="radio"  name="{{assessment.assessmentCriteria}}" ng-model="assessment.scoreAdmin" value="2" ng-click="rateMe2(assessment,2)">&nbsp;
                                <input-stars max="2" ng-if="assessment.scoreAdmin == 2" ng-model="assessment.scoreAdmin" ></input-stars>
                                <input-stars max="2" ng-if="assessment.scoreAdmin != 2" ng-model="noneSelect"></input-stars>
                                </br></span>
                                <span  ng-if="assessment.GuidelineArray[2].length> 4">
                                 <input type="radio" name="{{assessment.assessmentCriteria}}" ng-model="assessment.scoreAdmin" value="3" ng-click="rateMe2(assessment,3)">&nbsp;
                                <input-stars max="3" ng-if="assessment.scoreAdmin == 3" ng-model="assessment.scoreAdmin" ></input-stars>
                                <input-stars max="3" ng-if="assessment.scoreAdmin != 3" ng-model="noneSelect"></input-stars>
                                </br></span>
                                <span  ng-if="assessment.GuidelineArray[3].length> 4">
                                 <input type="radio"   name="{{assessment.assessmentCriteria}}" ng-model="assessment.scoreAdmin" value="4" ng-click="rateMe2(assessment,4)">&nbsp;
                                <input-stars max="4" ng-if="assessment.scoreAdmin == 4" ng-model="assessment.scoreAdmin" ></input-stars>
                                <input-stars max="4" ng-if="assessment.scoreAdmin != 4" ng-model="noneSelect"></input-stars>
                                </br></span>
                                <span  ng-if="assessment.GuidelineArray[4].length> 4">
                                <input type="radio"   name="{{assessment.assessmentCriteria}}" ng-model="assessment.scoreAdmin" value="5" ng-click="rateMe2(assessment,5)">&nbsp;
                                <input-stars max="5" ng-if="assessment.scoreAdmin == 5" ng-model="assessment.scoreAdmin" ></input-stars>
                                <input-stars max="5" ng-if="assessment.scoreAdmin != 5" ng-model="noneSelect"></input-stars>
                                </br></span>
                               
                               
                                
                               
                            </td>

                            


                            <td>
                            	<textarea style="height: 140px" ng-model='assessment.comments'></textarea>
                                <!-- <textarea style="height: 140px">{{assessment.comments}}</textarea>-->
                            </td>
                        </tr>
                </table>
                
               <!--  <button ng-json-export-excel data="dataList" report-fields="{'uesr.username': 'Heder 1', keyjson2: 'Header 2', keyjson3: 'Head 3'}" filename =" 'export-excel' " separator="," class="css-class"></button> -->
                
                <div id="check" class="text-center">
                    <dir-pagination-controls max-size="5" current-page="current" direction-links="true" boundary-links="true"
                                             template-url="./views/dirPagination.tpl.html">
                    </dir-pagination-controls>
                </div>
                
            </div>
         </div>
         
         <div ng-if="!selectApplicationView" class="text-right">

                 <span style="opacity: 0">
                        <input  id="upload" type="file" accept=".xls,.xlsx" fileread="" opts="gridOptions" multiple="false" style="display: none;"  />
                        <button type="button" class="addBtnQuestion" ng-click="clickUpload();" >Import Report</button>
                </span>

             <span >
                  <!--  <button type="button" class="addBtnQuestion" ng-click="exportAuditReport()">Export Audit Report</button>-->
                     <button  ng-json-export-excel data="responseDataList" class="addBtnQuestion"
                             report-fields="{ID: 'S No',reportId : 'Report Id',businessUnitId : 'Business Unit Id', applicationId: 'Application Id', applicationName: 'Application Name', assessmentId : 'Assessment Id', assessmentArea:'Assessment Area ', categoryId : 'Category Id', category : 'Category' ,  subCategoryId :'SubCategory Id',subCategory:'Sub-Category',assessmentCriteria : 'Question',
                                optionOneVal : 'Indicative Value - 1', optionTwoVal : 'Indicative Value 2' , optionThreeVal : 'Indicative Value 3',optionFourVal : 'Indicative Value 4',optionFiveVal : 'Indicative Value 5',scoreAdmin: 'Score - Admin',
                                scoreUser:'Score - User',comments : 'Comments', submittedBy : 'Report Submitted By'
                    }" filename="'QuestionnaireReport'" class="btn-sm btn-primary">Export Report
                     </button>
                </span>
                <span class="" ng-class="{hidden: getCurrentStepIndex()!=0};">
                    <button type="button" class="addBtnQuestion" ng-click="selectApplication()">Change Application</button>
                </span>
                <span ng-class="{hidden: !hasPreviousStep()};">
                    <button type="button" class="addBtnQuestion" ng-click="decrementStep()">Back</button>
                </span>
                <span ng-class="{hidden: !hasNextStep()}">
                    <button type="button" class="addBtnQuestion" ng-click="incrementStep();resetPage()">Next Step</button>
                </span>
                <span ng-class="{hidden: hasNextStep()}">
                    <button type="button" class="addBtnQuestion" ng-click="incrementStep();submitAssessment(assessmentQuestionnaireList,currentApp)">Submit</button>
                </span>
             </div>
        </div>     
    
    </div>
    
   
<!--MODAL POPUP for APPLICATION SEARCH-->    
<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="modal-title headingModalTitle">Select Application</span>
      </div>
      <div class="modal-body">
          <div class="input-group searchBoxModal width100per">
              <input type="text" class="form-control inputSearch" ng-model="searchApplication" placeholder="Search Application">
              <span class="searchFont">
                  <span class=" glyphicon glyphicon-search searchIcon"></span>
              </span>
          </div>

          <div class="row" dir-paginate="application in applicationList | filter:searchApplication|itemsPerPage:5">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                  <input type="radio" ng-model="$parent.currentApp"  value="{{application.applicationId}}">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 whiteSpaceNoWrap">
                  <label class="modalPopUp1TdStyle font-size16"  >{{application.applicationName}}</label>
              </div>
          </div>
          <div class="text-center">
              <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
          </div>
      </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button ng-click="showSelectedApplication(currentApp,applicationList)" class="addBtnModal btn" data-dismiss="modal"
                          ng-disabled="!currentApp">
                      Apply
                  </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button type="button" class="addBtnModal" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>    
     
</div>
<!-- *** FOOTER *** -->
<div footer></div> 
</div>