<style>
    body{
        height: auto;
    }
</style>
<div ng-controller="assessmentQuestionnaireCtrl" ng-cloak ng-init="init(1)">
<!-- *** HEADER *** -->
<div header></div>    
<div id="mainDiv" class="container mainContainer">

    <div class="headingTitle">
        Add Questionnaire
    </div>

    <ul id="progressBar" class="bs-wizard">
        <li ng-repeat="step in steps" id={{$index}} class="bs-wizard-step" ng-class="{disabled :$index , active: $index==getCurrentStepIndex()}">
            <div class="progress">
                <div class="progress-bar">
                </div>
            </div>
            <a href="" class="bs-wizard-dot"></a>
            <p class="text-center">{{step}}</p>
        </li>
    </ul>

    <!-- First Step -->
    <form name="myForm">
    <div id="addQuestion" class="well wellClass" ng-show="selection =='Add Question' ">
        <div class="titleHeading">Add Question</div>
        <div class="containerBody row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding-bottom15">
                    <div class="font-size16 bold">
                        Question:
                    </div>
                </div>
                <div class="padding-bottom15">
                    <span style="color:red;" ng-if="
                           myForm.questionType.$error.pattern">
                            Single /Double Quotes and Comma are not Acceptable</span>
                        <span style="color:red;" ng-if="
                            myForm.questionType.$error.minlength || myForm.questionType.$error.maxlength "><br>
                            Minimum 5 & Maximum 200 Characters are allowed</span><br>

                    <div>
                        <textarea rows="4" cols="50" ng-model="questionType" placeholder="Enter Question" size="50" name="questionType"
                                  class="form-control textBox" ng-minlength="5" ng-maxlength="200" ng-pattern="/[^,']$/" required>
                        </textarea >


                    </div>
                </div>
                <div class="padding-bottom15">
                    <div class="padding-top20">
                        "This questionnaire helps us gather information around your current DevOps practices. 
                        The questions added above will provide us with a general picture on your organization, and also highlight areas that may need more attention.
                        These questions will require more than a simple yes or no answer.  They will require some time and thought as they are more open-ended in an effort to 
                        help us understand more about the organization and its practices."
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding-bottom15">
                    <div class="font-size16 bold">
                        Indicative Values:
                    </div>
     <span style="color:red;" ng-show="
                           myForm.val1.$error.pattern || myForm.val1.$error.minlength || myForm.val1.$error.maxlength ||
                            myForm.val2.$error.pattern || myForm.val2.$error.minlength || myForm.val2.$error.maxlength ||
                            myForm.val3.$error.pattern || myForm.val3.$error.minlength || myForm.val3.$error.maxlength ||
                            myForm.val4.$error.pattern || myForm.val4.$error.minlength || myForm.val4.$error.maxlength ||
                            myForm.val5.$error.pattern || myForm.val5.$error.minlength || myForm.val5.$error.maxlength">Single /Double Quotes and Comma are not Acceptable </span>

                </div>
                <div class="padding-bottom15">
                    <div>
                        <div class="input-group padding-bottom-4per">
                            <input type="text" class="form-control textBox" size="1" maxlength="1"
                                   ng-model="ser1"  placeholder="Score" aria-label="..." only-digits>
                            <span class="input-group-addon bgWhite">
                                <input type="checkbox" ng-model="chk1" class="" aria-label="...">
                            </span>
                            <input type="text" class="form-control textBox" ng-model="val1" aria-label="..." ng-minlength="1" ng-maxlength="100" ng-pattern="/[^,']$/" name="val1">

                        </div>

                        <div class="input-group padding-bottom-4per">
                            <input type="text" class="form-control textBox" size="1" maxlength="1"
                                   ng-model="ser2" placeholder="Score" aria-label="..." only-digits>
                            <span class="input-group-addon bgWhite">
                                <input type="checkbox" ng-model="chk2" aria-label="...">
                            </span>
                            <input type="text" class="form-control textBox" ng-model="val2" aria-label="..." ng-minlength="1" ng-maxlength="100" ng-pattern="/[^,']$/" name="val2">
                        </div>

                        <div class="input-group padding-bottom-4per">
                            <input type="text" class="form-control textBox" size="1" maxlength="1"
                                   ng-model="ser3"  placeholder="Score" aria-label="..." only-digits>
                            <span class="input-group-addon bgWhite">
                                <input type="checkbox" ng-model="chk3" aria-label="...">
                            </span>
                            <input type="text" class="form-control textBox" ng-model="val3" aria-label="..." ng-minlength="1" ng-maxlength="100" ng-pattern="/[^,']$/" name="val3">
                        </div>

                        <div class="input-group padding-bottom-4per">
                            <input type="text" class="form-control textBox" size="1" maxlength="1"
                                   ng-model="ser4"  placeholder="Score" aria-label="..." only-digits>
                            <span class="input-group-addon bgWhite">
                                <input type="checkbox" ng-model="chk4" aria-label="...">
                            </span>
                            <input type="text" class="form-control textBox" ng-model="val4" aria-label="..." ng-minlength="1" ng-maxlength="100" ng-pattern="/[^,']$/" name="val4">
                        </div>

                        <div class="input-group">
                            <input type="text" class="form-control textBox"  size="1" maxlength="1"
                                   ng-model="ser5"  placeholder="Score" aria-label="..." only-digits>
                            <span class="input-group-addon bgWhite">
                                <input type="checkbox" ng-model="chk5"  aria-label="...">
                            </span>
                            <input type="text" class="form-control textBox" ng-model="val5" aria-label="..." ng-minlength="1" ng-maxlength="100" ng-pattern="/[^,']$/" name="val5">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
			 
            <!-- Second Step -->

            <div id="addAssessmentArea" class="well wellClass" ng-show="selection =='Add Assessment Area' ">
                <div class="titleHeading">Add Assessment Area</div>
                <div class="containerBody">
                    <div class="padding-bottom15">
                        <a href="" data-toggle="tooltip" title="Click to Select Assessment Area" data-placement="right">
                            <div class="inner-addon right-addon disabledBox" ng-click="searchAssessmentPopup()">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" ng-model="selectedAssessmentArea" placeholder="Select Assessment Area" size="50"
                                       class="form-control textBox" disabled>
                            </div>
                        </a>
                        <!--<span class="popoverTool" ng-click="searchAssessmentPopup()">
                            <a href="" data-toggle="popover" data-trigger="hover" data-content="Click to Search and Select Assessment Area">
                                <label>
                                    <span class="disabledBox">
                                        <input type="text" ng-model="selectedAssessmentArea" placeholder="Select Assessment Area" size="50"
                                               class="form-control textBox inputWidth width-100per" disabled>
                                        <span class="input-group-btn searchFont">
                                            <span class=" glyphicon glyphicon-search searchAssessmentArea"></span>
                                        </span>
                                    </span>
                                </label>
                            </a>
                        </span>-->
                    </div>
                    <div class="padding-top20">
                        <div>
                            "An Assessment is conducted corresponding to a particular Assessment Area. Please choose a valid assessment area for which you would like to create a question."
                        </div>

                    </div>
                </div>
            </div>

            <!-- Third Step -->

            <div id="addCategory" class="well wellClass" ng-show="selection =='Add Category' ">
                <div class="titleHeading">Add Category</div>
                <div class="containerBody">
                    <div class="padding-bottom15">

                        <a href="" data-toggle="tooltip" title="Click to Select Category" data-placement="right">
                            <div class="inner-addon right-addon disabledBox" ng-click="searchCategoryPopup()">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" ng-model="selectedCategory" placeholder="Select Category" size="50"
                                       class="form-control textBox" disabled>
                            </div>
                        </a>

                        <!--<span class="popoverTool" ng-click="searchCategoryPopup()">
                            <a href="" data-toggle="popover" data-trigger="hover" data-content="Click to Search and Select Assessment Area">
                                <label>
                                    <span class="disabledBox">
                                        <input type="text" ng-model="selectedCategory" placeholder="Select Category" size="50"
                                               class="form-control textBox inputWidth width-100per" disabled>
                                        <span class="input-group-btn searchFont">
                                            <span class=" glyphicon glyphicon-search searchAssessmentArea"></span>
                                        </span>
                                    </span>
                                </label>
                            </a>
                        </span>-->

                    </div>
                    <div class="padding-top20">
                        <div>
                            "Please select a valid category while creating a question. Each category should map to a
                            logical assessment area. The system will ensure that a question is created only for an active category."
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fourth Step -->

            <div id="addSubCategory" class="well wellClass" ng-show="selection =='Add Sub Category' ">
                <div class="titleHeading">Add Sub-Category</div>
                <div class="containerBody">
                    <div class="padding-bottom15">

                        <a href="" data-toggle="tooltip" title="Click to Select Sub Category" data-placement="right">
                            <div class="inner-addon right-addon disabledBox" ng-click="searchSubCategoryPopup()">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" ng-model="selectedSubCategory" placeholder="Select Sub Category" size="50"
                                       class="form-control textBox" disabled>
                            </div>
                        </a>

                        <!--<span class="popoverTool" ng-click="searchSubCategoryPopup()">
                            <a href="" data-toggle="popover" data-trigger="hover" data-content="Click to Search and Select Assessment Area">
                                <label>
                                    <span class="disabledBox">
                                        <input type="text" ng-model="selectedSubCategory" placeholder="Select Sub-Category" size="50"
                                               class="form-control textBox inputWidth width-100per" disabled>
                                        <span class="input-group-btn searchFont">
                                            <span class=" glyphicon glyphicon-search searchAssessmentArea"></span>
                                        </span>
                                    </span>
                                </label>
                            </a>
                        </span>-->

                    </div>
                    <div class="padding-top20">
                        <div>
                            "Select a suitable sub category while adding a question. The sub-category will be mapped to an assessment area and category. "
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ##################RIGHT PANEL FOR REVIEW ####################-->

        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12" ng-switch on="selection"
             ng-hide="selection == 'Add Question' || selection == 'Review'">
            <div id="questionReview" class="well wellClass">
                <div class="titleHeading">Question Review</div>
					
				  
				  
                
                <!-- Step 2 REVIEW -->

                <div class="containerBody" ng-switch-when="Add Assessment Area">
                    <div class="padding-bottom15">
                        <span class="formField">
                            Question:
                        </span>
                        <span class="bold font-size18">
                            {{questionType}}
                        </span>
                    </div>

                    <div class="padding-bottom15 row">
                        <div class="formField col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Indicative Values:
                        </div>
                        <div class="bold font-size18 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <ul>
                                <li class="liTypeDisc" ng-show="chk1">
                                    <div>
                                        <span>{{ser1}}</span>
                                        <span>{{val1}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk2">
                                    <div>
                                        <span>{{ser2}}</span>
                                        <span>{{val2}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk3">
                                    <div>
                                        <span>{{ser3}}</span>
                                        <span>{{val3}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk4">
                                    <div>
                                        <span>{{ser2}}</span>
                                        <span>{{val4}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk5">
                                    <div>
                                        <span>{{ser5}}</span>
                                        <span>{{val5}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                     
                   
                </div>

                    <!-- Step 3 REVIEW -->

                <div class="containerBody" ng-switch-when="Add Category">
                    <div class="padding-bottom15">
                        <span class="formField">
                            Question:
                        </span>
                        <span class="bold font-size18">
                            {{questionType}}
                        </span>
                    </div>

                    <div class="padding-bottom15 row">
                        <div class="formField col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Indicative Values:
                        </div>
                        <div class="bold font-size18 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <ul>
                                <li class="liTypeDisc" ng-show="chk1">
                                    <div>
                                        <span>{{ser1}}</span>
                                        <span>{{val1}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk2">
                                    <div>
                                        <span>{{ser2}}</span>
                                        <span>{{val2}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk3">
                                    <div>
                                        <span>{{ser3}}</span>
                                        <span>{{val3}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk4">
                                    <div>
                                        <span>{{ser2}}</span>
                                        <span>{{val4}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk5">
                                    <div>
                                        <span>{{ser5}}</span>
                                        <span>{{val5}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
					
                  
                    <div class="padding-bottom15">
                        <span class="formField">
                            Assessment Area:
                        </span>
                        <span class="bold font-size18">
                            {{selectedAssessmentArea}}
                        </span>
                    </div>
                </div>

                <!-- Step 4 REVIEW -->

                <div class="containerBody" ng-switch-when="Add Sub Category">
                    <div class="padding-bottom15">
                        <span class="formField">
                            Question:
                        </span>
                        <span class="bold font-size18">
                            {{questionType}}
                        </span>
                    </div>

                    <div class="padding-bottom15 row">

                        <div class="formField col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Indicative Values:
                        </div>
                        <div class="bold font-size18 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <ul>
                                <li class="liTypeDisc" ng-show="chk1">
                                    <div>
                                        <span>{{ser1}}</span>
                                        <span>{{val1}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk2">
                                    <div>
                                        <span>{{ser2}}</span>
                                        <span>{{val2}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk3">
                                    <div>
                                        <span>{{ser3}}</span>
                                        <span>{{val3}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk4">
                                    <div>
                                        <span>{{ser2}}</span>
                                        <span>{{val4}}</span>
                                    </div>
                                </li>
                                <li class="liTypeDisc" ng-show="chk5">
                                    <div>
                                        <span>{{ser5}}</span>
                                        <span>{{val5}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                     
					 
                    <div class="padding-bottom15">
                        <span class="formField">
                            Assessment Area:
                        </span>
                        <span class="bold font-size18">
                            {{selectedAssessmentArea}}
                        </span>
                    </div>

                    <div class="padding-bottom15">
                        <span class="formField">
                            Category:
                        </span>
                        <span class="bold font-size18">
                            {{selectedCategory}}
                        </span>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Final Step -->

    <div id="review" class="well wellClass" ng-show="selection =='Review' ">
        <div class="titleHeading">Final Review</div>
        <div class="containerBody">
        <div ng-show="questionSaveSuccess == true"  class="text-left formField">
     		 <span color="red"><b>Question Saved Successfully.</b></span>
    	</div> 
    	<div>&nbsp;</div>
            <table class="table tblClass table-bordered" cellspacing="0">
                <tr class="blue-bg" >
                    <th style="width: 15%;" class="white bold text-center">
                        Question
                    </th>
                    <th style="width: 15%;" class="white bold text-center">
                        Indicative Values
                    </th>
                    
                    <th style="width: 15%;" class="white bold text-center">
                        Assessment Area
                    </th>
                    <th style="width: 15%;" class="white bold text-center">
                        Category
                    </th>
                    <th style="width: 10%;" class="white bold text-center">
                        Sub Category
                    </th>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="bold font-size18">{{questionType}}</span>
                    </td>
                    <td class="text-center">
                        <ul>
                            <li class="liTypeDisc" ng-show="chk1">
                                <div>
                                    <span>{{ser1}}</span>-
                                    <span>{{val1}}</span>
                                </div>
                            </li>
                            <li class="liTypeDisc" ng-show="chk2">
                                <div>
                                    <span>{{ser2}}</span>-
                                    <span>{{val2}}</span>
                                </div>
                            </li>
                            <li class="liTypeDisc" ng-show="chk3">
                                <div>
                                    <span>{{ser3}}</span>-
                                    <span>{{val3}}</span>
                                </div>
                            </li>
                            <li class="liTypeDisc" ng-show="chk4">
                                <div>
                                    <span>{{ser2}}</span>-
                                    <span>{{val4}}</span>
                                </div>
                            </li>
                            <li class="liTypeDisc" ng-show="chk5">
                                <div>
                                    <span>{{ser5}}</span>-
                                    <span>{{val5}}</span>
                                </div>
                            </li>
                        </ul>
                    </td>
                    
                    <td class="text-center">
                        <span>{{selectedAssessmentArea}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{selectedCategory}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{selectedSubCategory}}</span>
                    </td>
                </tr>
            </table>

   <!--          <div class="padding-bottom15">
                 <span class="formField">
                     Question:
                 </span>
                 <span class="bold font-size18">
                     {{questionType}}
                 </span>
             </div>
             <div class="padding-bottom15 row">

                 <div class="formField col-lg-2 col-md-2 col-sm-2 col-xs-2">
                     Indicative Values:
                 </div>
                 <div class="bold font-size18 col-lg-10 col-md-10 col-sm-10 col-xs-10">

                 </div>
             </div>
            <div class="padding-bottom15">
                <span class="formField">
                    Assessment Area:
                </span>
                <span class="bold font-size18">
                    {{selectedAssessmentArea}}
                </span>
            </div>
            <div class="padding-bottom15">
                <span class="formField">
                    Category:
                </span>
                <span class="bold font-size18">
                    {{selectedCategory}}
                </span>
            </div>
            <div class="padding-bottom15">
                <span class="formField">
                    Sub-Category:
                </span>
                <span class="bold font-size18">
                    {{selectedSubCategory}}
                </span>
            </div>-->
        </div>
        
    </div>

    <div class="form-group text-right" ng-hide="questionSaveSuccess == true" >
        <span class="" ng-class="{hidden: !hasPreviousStep()};">
            <button type="button" class="addBtnQuestion" ng-click="decrementStep()">Back</button>
        </span>
        <span ng-class="{hidden: !hasNextStep()}">
            <button type="button" class="addBtnQuestion btn" ng-click="incrementStep()" ng-disabled="myForm.$invalid">Next Step</button>
        </span>
        <span ng-class="{hidden: hasNextStep()}">
            <button type="button" class="addBtnQuestion" ng-click="submitQuestion(1)">Submit</button>
        </span>
    </div>


<!--MODAL POPUP for ASSESSMENT AREA SEARCH-->    
<div class="modal fade" id="assessmentAreaModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="modal-title headingModalTitle">Select Assessment Area</span>
        </div>
        <div class="modal-body">

            <div class="inner-addon right-addon padding-bottom15">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control textBox" ng-model="searchAssessment" placeholder="Search Assessment Area">
            </div>

            <!--<div class="input-group searchBoxModal">
                <input type="text" class="form-control textBox" ng-model="searchAssessment" placeholder="Search Assessment Area">
                <span class="searchFont">
                    <span class=" glyphicon glyphicon-search searchIcon"></span>
                </span>
            </div>-->
            <div class="row" ng-repeat="assessmentArea in assessmentAreaList | filter:searchAssessment">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                    <input type="radio" ng-model="$parent.currentArea" value="{{assessmentArea.assessmentId}}">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <label class="modalPopUp1TdStyle font-size16 width-100per">{{assessmentArea.assessmentAreaName}}</label>
                </div>
            </div>
        </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button ng-click="showSelectedAssessmentArea(currentArea)" class="addBtnModal" data-dismiss="modal">
                      Apply
                  </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button type="button" class="addBtnModal" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>    
    
<!--MODAL POPUP for CATEGORY SEARCH-->    
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="modal-title headingModalTitle">Select Category</span>
      </div>
      <div class="modal-body">
          <div class="inner-addon right-addon padding-bottom15">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control textBox" ng-model="searchCategory" placeholder="Search Category">
          </div>
          <!--<div class="input-group searchBoxModal">
              <input type="text" class="form-control searchBox" ng-model="searchCategory" placeholder="Search Category">
                <span class="searchFont">
                    <span class=" glyphicon glyphicon-search searchIcon"></span>
                </span>
          </div>-->
          <div class="row" ng-repeat="category in categoryList | filter:searchCategory">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                  <input type="radio" ng-model="$parent.currentCategory" value="{{category.categoryId}}">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <label class="modalPopUp1TdStyle font-size16 width-100per">{{category.categoryName}}</label>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button ng-click="showSelectedCategory(currentCategory)" class="addBtnModal" data-dismiss="modal">
                      Apply
                  </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button type="button" class="addBtnModal" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>    
    
<!--MODAL POPUP for SUB CATEGORY SEARCH-->    
<div class="modal fade" id="subCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="modal-title headingModalTitle">Select Sub-Category</span>
      </div>
      <div class="modal-body">

          <div class="inner-addon right-addon padding-bottom15">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control textBox" ng-model="searchSubCategory" placeholder="Search Sub Category">
          </div>

          <!--<div class="input-group searchBoxModal">
              <input type="text" class="form-control searchBox" ng-model="searchCategory" placeholder="Search Sub Category">
                <span class="searchFont">
                    <span class=" glyphicon glyphicon-search searchIcon"></span>
                </span>
          </div>-->

          <div class="row" ng-repeat="subCategory in subCategoryList | filter:searchSubCategory">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                  <input type="radio" ng-model="$parent.currentSubCategory" value="{{subCategory.subcategoryId}}">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <label class="modalPopUp1TdStyle font-size16 width-100per">{{subCategory.subCategoryName}}</label>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <<div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button ng-click="showSelectedSubCategory(currentSubCategory)" class="addBtnModal" data-dismiss="modal">
                  Apply
              </button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button type="button" class="addBtnModal" data-dismiss="modal">Cancel</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>    
    
     
</div>
<!-- *** FOOTER *** -->
<div footer></div> 
</div>