<div ng-controller="resetPasswordCtrl" ng-cloak ng-init="init()">
    <!-- *** HEADER *** -->
    <div header></div>

    <div id="mainDiv " class="container mainContainer">

        <div class="headingTitle">
            Reset Passsword
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="addAssessment" class="well wellClass">
                    <div class="containerBody">
                        <div class="padding-bottom15">
                            <a href="" data-toggle="tooltip" title="Click to Select Account" data-placement="right">
                                <div class="inner-addon right-addon disabledBox" ng-click="resetPasswordLightBox()">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <input type="text"  ng-model="addSelectedUser" placeholder="Search User" size="50"
                                           class="form-control textBox" disabled>

                                </div>
                            </a>
                        </div>
                        <div class="marginBottom-5">

                            <input type="{{typePassword}}" ng-model="password" placeholder="New Password" size="50"
                                   class="form-control textBox"/>
                            <a tooltips tooltip-template="Click to Show/Hide Password" tooltip-side="right" tooltip-speed="fast">

                            <span class="input-group-btn searchFont">
                                <span class=" glyphicon glyphicon-eye-open glyphEye pull-right cursorPointer" ng-show="showPassIcon"
                                      ng-click="showPassword()">
                                </span>
                                <span class=" glyphicon glyphicon-eye-close glyphEye pull-right cursorPointer" ng-show="hidePassIcon"
                                      ng-click="hidePassword()">
                                </span>
                            </span>
                            </a>
                        </div>
                        <div class="padding-bottom15">
                            <input type="{{typeNewPassword}}" ng-model="newPassword" placeholder="Confirm Password" size="50"
                                   class="form-control textBox"/>
                            <a tooltips tooltip-template="Click to Show/Hide Password" tooltip-side="right" tooltip-speed="fast">

                            <span class="input-group-btn searchFont">
                                <span class=" glyphicon glyphicon-eye-open glyphEye pull-right cursorPointer" ng-show="showPaswrdIcon"
                                      ng-click="showNewPassword()">
                                </span>
                                <span class=" glyphicon glyphicon-eye-close glyphEye pull-right cursorPointer" ng-show="hidePaswrdIcon"
                                      ng-click="hideNewPassword()">
                                </span>
                            </span>
                            </a>
                        </div>
                        <div class="text-center">
                            <button ng-click="addUser(newPassword)" class="addBtn width-100per">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div id="profileList" class="well wellClass">
                    <div class="titleHeading">Users List</div>
                    <div class="containerBody">

                        <div class="searchBox">
                            <div class="inner-addon right-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" class="form-control textBox" ng-model="searchProfile" placeholder="Search User">
                            </div>
                        </div>


                        <!--<div class="input-group searchBoxProfile">
                            <input type="text" class="form-control textBox" ng-model="searchProfile" placeholder="Search User">
                     <span class="searchFont">
                        <span class=" glyphicon glyphicon-search searchIcon"></span>
                     </span>
                        </div>-->
                        <div class="tblClass">
                            <table class="table table-bordered" cellspacing="0">
                                <tr class="blue-bg">
                                    <th class="white bold width15 text-center">
                                        <a href="" ng-click="sortType = 'EmpId'; sortReverse = !sortReverse" class="white">
                                            Employee/Guest ID
                                            <span ng-show="sortType == 'EmpId' && !sortReverse" class="fa fa-caret-down white"></span>
                                            <span ng-show="sortType == 'EmpId' && sortReverse" class="fa fa-caret-up white"></span>
                                        </a>
                                    </th>
                                    <th class="white bold width15 text-center">
                                        <a href="" ng-click="sortType = 'Name'; sortReverse = !sortReverse" class="white">
                                            Name
                                            <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down white"></span>
                                            <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up white"></span>
                                        </a>
                                    </th>
                                    <th class="white bold width15 text-center">

                                        <a href="" ng-click="sortType = 'Role'; sortReverse = !sortReverse" class="white">
                                            Role
                                            <span ng-show="sortType == 'Role' && !sortReverse" class="fa fa-caret-down white"></span>
                                            <span ng-show="sortType == 'Role' && sortReverse" class="fa fa-caret-up white"></span>
                                        </a>
                                    </th>
                                    <th class="white bold width15 text-center">

                                        <a href="" ng-click="sortType = 'Account'; sortReverse = !sortReverse" class="white">
                                            Account
                                            <span ng-show="sortType == 'Account' && !sortReverse" class="fa fa-caret-down white"></span>
                                            <span ng-show="sortType == 'Account' && sortReverse" class="fa fa-caret-up white"></span>
                                        </a>
                                    </th>
                                    <th class="white bold text-align-center width15">
                                        Edit
                                    </th>
                                    <th class="white bold text-align-center width15">
                                        Deactivate
                                    </th>
                                </tr>
                                <tr dir-paginate="profile in profileList | filter :searchProfile |itemsPerPage:5 |orderBy:sortType:sortReverse">
                                    <td class="text-center">
                                        <span>{{profile.EmpId}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span>{{profile.Name}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span>{{profile.Role}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span>{{profile.Account}}</span>
                                    </td>
                                    <td class="text-align-center">
                                <span>
                                    <a class="a-toggle bold" ng-click="editProfileDialog.open(profile,profileList)" tooltips
                                       tooltip-template="Click to Edit" tooltip-side="right" tooltip-speed="fast">
                                        <span class="glyphicon glyphicon-pencil cursorPointer"></span>
                                    </a>
                                </span>
                                    </td>
                                    <td class="text-align-center">
                                        <a class="a-toggle bold" ng-click="deleteProfile(profile)" tooltips tooltip-template="Click to Deactivate"
                                           tooltip-side="right" tooltip-speed="fast">
                                            <span class="glyphicon glyphicon-ban-circle cursorPointer"></span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--****************************Reset Password - Light Box *********************************---->
    <div class="modal fade" id="resetPasswordLightBox" tabindex="-1" role="dialog" aria-hidden="true">
        <div  class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span class="modal-title headingModalTitle">Select User</span>
                </div>
                <div class="modal-body">
                    <div class="inner-addon right-addon padding-bottom15">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control textBox" ng-model="searchUser" placeholder="Search User">
                    </div>
                    <div class="row" ng-repeat="user in profileList | filter:searchUser">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input type="radio" ng-model="$parent.userSelected" value="{{user.EmpId}}">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label>{{user.EmpId}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label>{{user.Name}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label>{{user.Account}}</label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button ng-click="selectedUser(userSelected)" data-dismiss="modal" class="addBtnModal">
                                Apply
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button type="button" class="addBtnModal" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** FOOTER *** -->
    <div footer></div>
</div>