<div class="modal-header1">
     <div class="row header" ng-show="isMobile">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header1" ng-show="isMobile"></div>
             <div class="row header2 top20px">
                 <div class="col-xs-12 margint-10px">
                    <span class="hamburgerText">Hi, {{patientName}}</span>
                      <span class="glyphicon glyphicon-remove glyphiconCancel" ng-click="cancel($event)">
                 </div>
            </div>
    </div>
    <div class="row header" ng-show="!isMobile">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header1" ng-show="isMobile"></div>
             <div class="row header2 top0px">
                 <div class="col-xs-12 margint15px">
                    <span class="hamburgerText">Hi, {{patientName}}</span>
                      <span class="glyphicon glyphicon-remove glyphiconCancel" ng-click="cancel($event)">
                 </div>
            </div>
    </div>
    
</div>
<div class="modal-body1">
    <div>
        <div ng-class= "isMobile ? 'listStyle' : 'listStyle1'" ng-click="navigateTo('/myChats')"><a href="#" class="listHyperlink">My Health Chats</a>
            <span class="icon icon-CVS_Icons-45 pull-left appointment" style="margin-left: -10px"></span>
        </div>
              <div ng-class= "isMobile ? 'listStyle' : 'listStyle1'"  ng-click="navigateTo('/myAppointments')"><a href="#" class="listHyperlink">My Appointments</a>
                  <span class="icon icon-CVS_Icons_scheduleManegement pull-left appointment"></span>
        </div>
             <div ng-class= "isMobile ? 'listStyle' : 'listStyle1'" ng-click="navigateTo('/myMedications')"><a href="#" class="listHyperlink">My Medications</a>
                  <span class="icon icon-CVS_Icons-Schedule pull-left appointment"></span>
        </div>
             <div  ng-class= "isMobile ? 'listStyle' : 'listStyle1'" ng-click="navigateTo('/myVitals')"><a href="#" class="listHyperlink">My Vitals</a>
                 <span class="icon icon-CVS_Icons-48 pull-left appointment"></span>
        </div>
               <div  ng-class= "isMobile ? 'listStyle' : 'listStyle1'" ng-click="navigateTo('/myProfile')"><a href="#" class="listHyperlink" style="margin-left: 5px;">My Profile</a>
                   <span class="icon icon-CVS_Icons_profile pull-left profile"></span>
        </div>
             <!-- <div ng-class= "isMobile ? 'listStyle' : 'listStyle1'"><a href="#" class="listHyperlink">About</a></div>-->
    </div>
</div>

<div class="modal-footer1">
    <div style="border-top: 2px solid #B2DFEC;"></div>
    <div class="listStyleNoBorder"><a href="" ng-click="navigateTo('/login')" class="listHyperlink signOut"><b>Sign Out</a></b>
    <span class="icon-CVS_Icons_Sign_out  pull-left signOutIcon"></span></div>
</div>